body {
    font-family: Roboto, Arial, sans-serif;
    color: white;
    background-color: rgb(23, 23, 28);
}
h1 {
    font-weight: 500;
}
.reset-btn, .auto-play-btn {
    height: 35px;
    padding: 0 15px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}
.result-display {
    font-size: 1.5rem;
    font-weight: 500;
}
.move-img {
    height: 50px;
}
.move-btn {
    background-color: transparent;
    border-radius:70px;
    border: 3px solid white;
    padding: 32px;
    width: 120px;
    height: 120px;
    margin-right: 12px;
    cursor: pointer;
}
.score {
    margin-top: 60px;
}